<ion-view hide-nav-bar="true">

  <div class="login-header">
  </div>

  <div class="list login-form">

    <label class="item item-input">
      <i class="icon ion-person placeholder-icon"></i>
      <input type="text" placeholder="username"/>
    </label>

    <label class="item item-input">
      <i class="icon ion-key placeholder-icon"></i>
      <input type="password" placeholder="password"/>
    </label>

    <div class="login-buttonContainer">
      <button class="button login-button">Login</button>
    </div>

    <div class="login-optionsContainer">
      <label class="toggle">
        <input type="checkbox">
        <div class="track smallTrack">
          <div class="handle smallHandle"></div>
        </div>
        <span class="login-rememberLabel">Remember Me</span>
      </label>
      <a class="login-forgot" href="#">Forgot Password?</a>
    </div>

  </div>

</ion-view>
