<ion-view hide-nav-bar="true" hide-back-button="true">

  <div class="login-header">
  </div>

  <div class="login-error" ng-show="error">
    <span class="login-error-header">Sign In Failed!</span>
    <span>Username or password may be incorrect.</span>
    <span>Please try again.</span>
  </div>

  <form class="list form" ng-submit="submit()">

    <label class="item item-input">
      <i class="icon ion-person placeholder-icon"></i>
      <input type="text" placeholder="username" ng-model="login.username"/>
    </label>

    <label class="item item-input">
      <i class="icon ion-key placeholder-icon"></i>
      <input type="password" placeholder="password" ng-model="login.password"/>
    </label>

    <div class="row horizontalPadding marginBottom">
      <button type="submit" class="button button-full">Login</button>
    </div>

    <div class="horizontalPadding">
      <label class="toggle">
        <input type="checkbox" ng-model="login.remember">
        <div class="track smallTrack">
          <div class="handle smallHandle"></div>
        </div>
        <span class="login-rememberLabel">Remember Me</span>
      </label>
      <a class="login-forgot" href="#">Forgot Password?</a>
    </div>

  </form>

</ion-view>
